@using Blog.Controllers

@model Blog.DomainModels.MusicBox.GenreData
@{
    ViewData["Title"] = "Music Box";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/music_box.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">@await Component.InvokeAsync("Timer", new { includeSeconds = true })</div>
            <div class="col">I'm content inside the grid!</div>
            <div class="col">I'm content inside the grid!</div>
        </div>
    </div>
    <p>
        С секундами: <br />
        @await Component.InvokeAsync("Timer", new { includeSeconds = true })
    </p>

    <p>
        Без секунд: <br />
        <vc:timer include-seconds="false"></vc:timer>
    </p>
    <div class="container">
        <form asp-controller="MusicBoxController" asp-action="Index" asp-antiforgery="true" method="post">
            <div>
                <div>
                    <label asp-for="Archetype"></label>
                    <input type="text" asp-for="Archetype" />
                </div>
                <div>
                    <label asp-for="Genre    "></label>
                    <input type="text" asp-for="Genre" />
                </div>
                <div>
                    <label asp-for="SubGenre"></label>
                    <input type="text" asp-for="SubGenre" />
                </div>
                <div>
                    <label asp-for="Comment"></label>
                    <input type="text" asp-for="Comment" />
                </div>
                <div>
                    <input type="submit" value="Save" />
                </div>
            </div>
        </form>
    </div>
</body>

</html>
<h1>MusicBoxView</h1>

