@{
    ViewData["Title"] = "Home Page";
}

<timer view-context="@(new ViewContext())" />

@await Component.InvokeAsync("Timer")

<div header>Первый параграф</div>
<div header>Второй параграф</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
