/* CSS only to highlight col-* */
.row > div {
    background-color: #ffeeee;
    background-clip: content-box;
    min-height: 100px;
}

.container {
    border: 1px dotted #ccc;
}

.row {
    border: 1px dotted #ccc;
    border-left: 0;
    border-right: 0;
}
